

<footer class="fixed pad-t30 pad-b10">
    <div class="container">
        <p style="text-align:center">


            <span class="text-light text-center">Designed By<a href="https://www.linkedin.com/in/pravin-mishra-14793830/" class="text-secondary">Pravin Mishra</a> Distributed By KIG Solution.</a></span>

        </p>
    </div>
</footer>
