

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Kamtanath IT And Geospatial Solution </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
  
    <!-- Icon Font Stylesheet -->


    <!-- Libraries Stylesheet -->
    <link href="~/MainPage/animate.min.css" rel="stylesheet" />
    <link href="~/MainPage/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/MainPage/bootstrap.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <!-- Template Stylesheet -->
    <link href="~/MainPage/style.css" rel="stylesheet" />

</head>

<body>
    @Html.Partial("_MasterHeader")
    @RenderBody()
    @{ Html.RenderPartial("_MasterFooter");}
    <!-- JavaScript Libraries -->
    <script src="~/MainPage/jquery.min.js"></script>
    <script src="~/MainPage/bootstrap.bundle.min.js"></script>
    <script src="~/MainPage/wow.min.js"></script>
    <script src="~/MainPage/easing.min.js"></script>
    <script src="~/MainPage/waypoints.min.js"></script>
    <script src="~/MainPage/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/MainPage/main.js"></script>
    <!-- Template Javascript -->
</body>
</html>


