@model KGS.Web.Models.Others.Modal

<div aria-hidden="true" aria-labelledby="@Model.AreaLabeledId" role="dialog"  id="@Model.ID" class="@(string.IsNullOrEmpty(Model.Class)?"":Model.Class+" ")modal fade">
    <div class="modal-dialog @Model.ModalSizeClass">
        <div class="modal-content">          
        </div>
    </div>
</div>


