@model KGS.Web.Areas.Admin.Models.ImportFileModel
    <style>
        .modal-header {
            display: inline-block;
        }
    </style>
<div id="adminUpdateAllergyModal">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header ">
            <button type="button" class="close font16" data-dismiss="modal"><i class="fa fa-times"></i></button>
            <h4 class="modal-title"><b><span class="UpdateAllergy">Import Records</span></b>
           
            </h4>
        </div>
        @using (Html.BeginForm("ImportRecordData", "GeoRecord", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "formImportRecord" }))
        {
        <div class="modal-body">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <span class="small importdata"><a href="@Url.Action("Download","GeoRecord")" style="text-decoration:underline">Download Sample</a></span>
            <div class="browse-block">
                <div class="row">
                    <div class="col-sm-4 select-lbl">
                        @Html.Label("Select File Import", htmlAttributes: new { @class = "requiredasterisk" })

                    </div>
                    <div class="col-sm-8">
                        <label class="btn-block" onchange="selectFile(6)">
                            <a style="cursor:pointer">
                                <div id="divSelectedFile" class="btn btn-primary  browse-btn">
                                    <span id="fakefile">Browse</span>
                                </div>
                                <input id='ImportedFile' name='ImportedFile' type='file' style='display:none' accept="*" />
                            </a>
                        </label>
                        <span class="text-danger errorfile"></span>

                    </div>
                </div>
            </div>

        </div>
            <div class="modal-footer">
                <div class="row" style="margin-top:5px;">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-9">
                        <input id="upload" type="submit" class="btn btn-primary btn-lg btn-green mar-l10 UploadImage pull-right" value="Import" name="Upload" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
